// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$bg-color: #f8f9fa; // Exemple de couleur de fond, à adapter
$bg-hover-color: lighten($bg-color, 5%); // Éclaircit la couleur de fond au survol
$border-radius: 20px; // Rayon de bordure pour les cartes
$bg-color-option: #901d6c;
