<h1>Option Details</h1>

<p><strong>Reponse:</strong> <%= @option.reponse %></p>
<p><strong>Is Correct:</strong> <%= @option.isreponsecorrect %></p>

<%= link_to 'Back to Question', iqtest_question_path(@iqtest, @question) %>
