<div class="footer">
  <div class="footer-left">
    <p>©2024 – IQTestBrain®</p>
  </div>
  <div class="footer-center">
    <%= link_to "Mentions", mentions_path %> |
    <%= link_to "Privacy", privacy_path %> |
    <%= link_to "Terms", terms_path %>
  </div>
  <div class="footer-right">
    <!-- Placeholder for future content -->
  </div>
</div>
