<h1>Test de QI officiel</h1>





<h1>My home view 🚀</h1>
<ul>
  <li><%= link_to "Know more about us", about_path %></li>
  <li><%= link_to "Meet our team", contact_path %></li>
  <li><%= link_to 'Tous les tests', iqtests_path %></li>
</ul>
