<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://th.bing.com/th/id/OIG1.e77.OD_ygZzNBz8jHJCE?w=1024&h=1024&rs=1&pid=ImgDetMain);">
  <div class="container">
    <h1>Test your IQ and get certified!</h1>
      <p>Discover your potential with our quick and certified IQ test. Receive your results and personalized evaluation in just 20 minutes.</p>
    <a class="btn btn-flat" href="#">Start the test now!</a>
  </div>
</div>
<div class="">

</div>














<h1>My home view 🚀</h1>
<ul>
  <li><%= link_to "Know more about us", about_path %></li>
  <li><%= link_to "Meet our team", contact_path %></li>
  <li><%= link_to 'Tous les tests', iqtests_path %></li>
</ul>
