<div class="container">
  <h1>Legal notice</h1>
    <p>
      In force as of 20/05/2024
    </p>
    <p>
      Under articles 6-III and 19 of the law No. 2004-575 of June 21, 2004 for confidence in the digital economy, it is brought to the attention of users and visitors of the site www..com these legal notices. These latter are accessible on the site in the “Legal notices” section.
    </p>

  <h2>The editor:</h2>

    <p>
      The site is published by Jorge, a French company. registered under number 828716381

  <h2>The host:</h2>
    <p>
      The Site is hosted by Heroku Inc., located at 321 11th St, San Francisco, CA, 94103, United States,
    </p>
</div>
