<div class="container">

  <h1>Privacy</h1>

  <p>
    Politique de Confidentialité (Exemple)
    Collecte des Données
    Nous collectons des données personnelles lorsque vous achetez un test ou lorsque vous nous contactez. Ces données peuvent inclure votre nom, adresse e-mail, et informations de paiement.

    Utilisation des Données
    Les données collectées sont utilisées pour traiter vos commandes, améliorer nos services, et vous envoyer des informations relatives à vos achats.

    Partage des Données
    Nous ne partageons pas vos données personnelles avec des tiers, sauf si cela est nécessaire pour le traitement de votre paiement ou si la loi l'exige.

    Droits des Utilisateurs
    Vous avez le droit d'accéder à vos données personnelles, de les rectifier, de demander leur suppression ou de vous opposer à leur traitement. Pour exercer ces droits, contactez-nous à [adresse e-mail de support].

    Sécurité des Données
    Nous prenons des mesures de sécurité appropriées pour protéger vos données personnelles contre tout accès non autorisé ou toute divulgation.

    Politique de Cookies (Exemple)
    Utilisation des Cookies
    Nous utilisons des cookies pour améliorer votre expérience sur notre site. Les cookies sont de petits fichiers texte stockés sur votre appareil lorsque vous visitez notre site.

    Consentement des Utilisateurs
    En utilisant notre site, vous consentez à l'utilisation des cookies. Vous pouvez gérer vos préférences de cookies via les paramètres de votre navigateur.

    </p>
</div>
