<div class="container">
  <h2>Terms & Consitions of Sales (TCS)</h2>
    <ol>
      <li>
        <b>Product Description</b>
         <p>
          Our products consist of digital IQ tests available online. Once purchased, the test is immediately accessible through our online platform.
         </p>
      </li>
      <li>
        <b>Price</b>
         <p>
          The price of each digital IQ test is $19 (USD). This price includes all applicable taxes.
         </p>
      </li>
      <li>
        <b>Payment Methods</b>
         <p>
          Payment is made by credit card through our secure payment service provider. We accept major credit cards (Visa, MasterCard, American Express, etc.).
         </p>
      </li>

      <li>
        <b>Delivery</b>
         <p>
          Payment is made by credit card through our secure payment service provider. We accept major credit cards (Visa, MasterCard, American Express, etc.).
         </p>
      </li>

      <li>
        <b>Right of Withdrawal</b>
         <p>
          We guarantee access to our digital IQ test for a period of [time period, e.g., 1 year] from the date of purchase. In case of technical issues, please contact our customer service at [support email address].
         </p>
      </li>

      <li>
        <b>Liability</b>
        <p>
          Our liability cannot be engaged in case of:
        </p>
        <ul>
          <li>
            Temporary unavailability of our service for maintenance or updates.
          </li>
          <li>
            Technical problems beyond our control (Internet outage, server issues, etc.).
          </li>
          <li>
            Misuse or non-compliant use of the test by the user.
          </li>
        </ul>
        <p>
          In any case, our liability will be limited to the amount of the purchase made.
        </p>
      </li>

      <li>
        <b>PIntellectual Property</b>
         <p>
          All content on the [Website Name] site (texts, images, software, etc.) is protected by copyright and intellectual property rights. Any reproduction, distribution, or use of the content without our written permission is strictly prohibited.
         </p>
      </li>

      <li>
        <b>Personal Data </b>
         <p>
          We respect the confidentiality of your personal data. For more details, please see our Privacy Policy.
         </p>
      </li>

      <li>
        <b>Applicable Law and Jurisdiction</b>
         <p>
          These TCS are governed by French law. In case of dispute, French courts will have jurisdiction.
         </p>
      </li>

      <li>
        <b>Customer Service</b>
         <p>
          For any questions or complaints, you can contact our customer service at [support email address].
         </p>
      </li>
    </ol>
</div>
