.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.navbar-lewagon .container-fluid {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-lewagon .navbar-part.left {
  flex: 1;
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-part.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.nav-link {
  padding: 0.5rem 1rem;
  /* Ajuste ces valeurs selon tes besoins pour les liens */
}

