#timer {
  font-size: 1.2em;
  color: #333;
  text-align: center;
  margin-top: -21px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
    /* Compenser la taille propre de la div pour un centrage parfait */
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
